@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  z-index: 9999;
}


button {
  background-color: #998373;
  color: #fff;
  font-size: 25px;
  width: 100px;
  height: 50px;
  border-radius: 5px;
}

input {
  background-color: #fff;
  width: 540px;
  height: 48px;
  border: 1px solid black;
  border-radius: 5px;
}

.in {
  @apply h-[48px] text-sm p-4 rounded-md border-solid border-gray-300 w-full max-w-[680px]
}

form .form__block {
  @apply mt-5 w-full m-auto;
}

.lab {
  @apply block font-normal text-sm mt-5 mb-[5px];
}

form .form__btn--submit {
  @apply w-full h-[48px] font-bold p-[10px] float-right cursor-pointer my-[30px] mx-auto text-base bg-[#998373] text-white border-inherit;
}

form .form__btn--submit:hover,
form .form__btn--submit:focus {
  @apply bg-[#5f544d]
}

.infowindow {
  @apply bg-[#998373] text-white block text-sm text-center h-6 rounded-md px-2 leading-6
}






/* 스크롤바의 너비 및 스타일 지정 */
::-webkit-scrollbar {
  width: 8px;
}

/* 스크롤바의 색상 지정 */
::-webkit-scrollbar-thumb {
  background-color: #998373;
  border-radius: 6px;
}

/* 스크롤바의 트랙(배경) 색상 지정 */
::-webkit-scrollbar-track {
  background-color: #F4F1EA;
}

/* 선택된 스크롤바의 모서리 반경 지정 */
::-webkit-scrollbar-thumb:hover {
  background-color: #998373;
}